asgiref==3.2.3
autopep8==1.5
beautifulsoup4==4.9.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==3.1.9
django-cachalot==2.2.0
django-cors-headers==3.2.1
django-haystack==3.0b1
gprof2dot==2019.11.30
idna==2.9
Jinja2==2.11.3
lxml==4.6.3
MarkupSafe==1.1.1
pycodestyle==2.5.0
Pygments==2.7.4
python-dateutil==2.8.1
python-monkey-business==1.0.0
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.0
urllib3==1.25.8
Whoosh==2.7.4